*{
  box-sizing: border-box;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

#roll{
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  background-color: #f2f;
  border-radius: 1.5rem;
  border: none;
  display: inline-block;
  text-align: center;
  margin-top: 5%;
  margin-left: 40%;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
@media screen and (max-width: 760px) {
  .dice {
    width: 50%;
    float: left;
  }
  #ip1, #ip2{
    width: 70%;
    float: left;
  }
  #roll{
    font-size: 1rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
    background-color: #f2f;
    border-radius: 1rem;
    border: none;
    display: inline-block;
    text-align: center;
    margin-top: 5%;
    margin-left: 38%;
    padding: 5px 10px;
  }
  h1{
    font-size: 1.7rem;
  }
  footer{
    position: relative;
    bottom: 0;
    margin-top: 46%;
  }
}
